# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Maven build Pull-Request

on:
  pull_request:
    branches: [ master ]

jobs:
  maven-build-pr:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
    - uses: actions/checkout@v3

    - name: Set up Java
      uses: ./.github/actions/setup-java-for-deployment

    - run: mvn -f symja_android_library -B -U verify

    - uses: actions/upload-artifact@v2
      with:
        name: Package
        path: '**/target/*.jar'
