# This workflow will build a Java project with Maven and will publish snapshot versions to the OSSRH Snapshots repository
# For more information see:
# https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#Publishing-using-Apache-Maven
# https://docs.github.com/en/actions/publishing-packages/publishing-java-packages-with-maven

name: Maven build and publish Master Snapshot

on:
  push:
    branches: [ master ]

env:
  MAVEN_ARGS: --batch-mode --no-transfer-progress

jobs:
  maven-build-master-and-publish-to-maven-central:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
    - uses: actions/checkout@v6

    - name: Set up Java for deployment
      uses: ./.github/actions/setup-java-for-deployment
      with:
        gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}

    - run: mvn deploy -Ppublish-to-maven-central
      working-directory: symja_android_library
      # Deployment of all modules is deferred to the last module by nexus-staging-maven-plugin
      env:
        MAVEN_USERNAME: ${{ secrets.OSSRH_TOKEN_USERNAME }}
        MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN_PASSWORD }}
        MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
