# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Maven build Pull-Request

on:
  pull_request:
    branches: [ master ]

env:
  MAVEN_ARGS: --batch-mode --no-transfer-progress

jobs:
  maven-build-pr:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
    - uses: actions/checkout@v6

    - name: Set up Java
      uses: ./.github/actions/setup-java-for-deployment

    - run: mvn verify
      working-directory: symja_android_library

    - uses: actions/upload-artifact@v7
      with:
        name: Package
        path: '**/target/*.jar'
